:root {
    --primary-color: #425738;
    --secondary-color: #E4F9DC;
    --tertiary-color: #640215;
    --box-color: #E0E2DF;
}

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color);
}

.sections {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sections aside {
    border-right: 5px solid var(--tertiary-color);
    width: 15%;
    min-width: 15%;
    max-width: 15%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    padding: 1%;
}

/* header style */
header {
    padding: 25px 35px;
    background-color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--primary-color);
    margin: 0;
    display: inline;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 20px;
}

li:hover a {
    color: var(--primary-color);
    padding: 4px;
    background: var(--secondary-color);
    border-radius: 10px;
}
/* end header style */

/* hero style */
.hero {
    background-image: url("../images/leaf-banner.jpg");
    background-size: cover;
    width: 100%;
    right: 0;
}

.hero h2 {
    text-align: right;
    padding: 90px 30px;
}
/* end hero style */

/* about style */
#about {
    text-align: right;
}

.about {
    display: flex;
}

.about-info {
    display: flex;
    padding: 20px 25px;
    text-align: left;
    line-height: 1.5;
    width: 80%;
}

.profile-image {
    display: flex;
    height: 250px;
    margin: 20px 60px;
    float: right;
    border: 4px solid var(--tertiary-color);
}
/* end about style */

/* work style */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 2px;
    padding-left: 2%;
    max-width: 1200px;
    width: 100%;
}

.work a {
    text-decoration: none;
    color: var(--primary-color);
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--box-color);
    margin: 1%;
    width: 46%;
    height: 150px;
    border: 4px solid var(--secondary-color);
    position: relative;
}

#main-project {
    display: block;
    background-image: url(../images/run-buddy.jpg);
    background-size: cover;
    width: 96%;
    height: 300px;
    margin: 0;
}

.project-title {
    position: absolute;
    bottom: 18px;
    left: 0;
    background: white;
    color: black;
    font-weight: bold;
    padding: 6px;
}

.project:hover {
    border-color: var(--primary-color);
}

.project:hover h3 {
    background: black;
    color: white;
}
/* end work style */

/* contact style */
#contact {
    text-align: right;
}

.contact {
    display: flex;
    width: 80%;
}

.contact p {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--primary-color); 
    font-size: 20px;
    text-decoration: none;
    padding-right: 4%;
}

.contact a {
    text-decoration: none;
    color: var(--primary-color);
}
/* end contact style */

/* footer style */
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: right;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 15px;
}
/* end footer style */

/* media queries */
@media (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
    }

    #about {
        text-align: right;
    }

    .work {
        display: inline-block;
    }

    .project {
        display: flex;
        max-width: 90%;
        display: inline-block;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 575px) {
    .about {
        display: inline-block;
    }

    .profile-image {
        float: left;
    }

    .project {
        max-width: 90%;
    }
}
/* end media queries */